.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.gitignore
.httr-oauth
*.icloud
.httr-oauth-SUSPENDED
.Rhistory 2
.Rhistory 3
cookbook.nb.html
README.html
methods_lab-notebook.Rmd
methods_lab-notebook.nb.html
cookbook.Rmd
README.Rmd
lab_meeting_4_9.R
